.contacts-section {
  padding-top: 25px;
  padding-bottom: 50px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    padding-top: 55px;
    padding-bottom: 110px;
    scroll-margin-top: 70px;
  }
}

.contacts-title {
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.contacts-address {
  font-style: normal;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.contacts-list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media(desktop) {
    gap: 16px;
    width: 416px;

    &:last-child {
      width: 264px;
    }
  }
}

.contacts-item-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media(desktop) {
    gap: 16px;
  }
}

.contacts-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #21130a;

  @include media(desktop) {
    font-size: 22px;
  }
}

.contacts-item-link {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #21130a;

  @include media(desktop) {
    font-size: 24px;
  }
}
