.context-menu {
  display: none;
  background: #000;
  padding: 23px 39px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  text-align: left;
}

.context-list-link {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
