.process-section {
  padding-top: 25px;
  padding-bottom: 25px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.process-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.process-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.process-title {
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.process-span-mob {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.process-span-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.process-desktop-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.process-swiper-container {
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 856px;
    margin-left: 0;
    margin-right: 0;
  }
}

.process-swiper-container.show {
  visibility: visible;
}

.process-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.process-slide {
  padding: 0;
  max-width: 255px;
  // height: 327px !important;

  @include media(desktop) {
    max-width: 856px;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding: 16px;
    gap: 20px;
    height: 131px !important;
  }
}

.process-slide-text-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    gap: 16px;
  }
}

.process-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #373330;
  word-break: break-word;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 0;
    max-width: 740px;
  }
}

.process-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #373330;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.process-number-wrapper {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background: #95140e;
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #fffaef;
  padding: 0 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.process-img-wrapper {
  margin-top: 10px;
  width: 1110px;
  padding-left: 47px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;

  @include media(desktop) {
    margin-top: 0;
    width: 325px;
    padding-left: 0;
  }
}

.process-dot {
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #373330;
  cursor: pointer;
}

.process-dot.active {
  transform: scale(2);
}
