<section class="about-section" id="about">
  <div class="container about-container">
    <div class="about-text-wrapper">
      <h2 class="about-title section-title">La Nostra Storia e Visione</h2>
      <p class="about-text">
        Siamo un’azienda con oltre 15 anni di esperienza nel campo del
        decorativismo architettonico, specializzata nell'abbellimento delle
        facciate attraverso tecniche artistiche di pregio.
      </p>
      <p class="about-text">
        Unendo tradizione e innovazione, portiamo bellezza e unicità agli
        edifici residenziali, storici e commerciali.
      </p>
      <p class="about-subtitle">Missione:</p>
      <p class="about-bottom-text">
        Valorizzare il patrimonio architettonico attraverso interventi
        decorativi su misura, che fondono l’eleganza delle tecniche classiche
        con soluzioni moderne e durevoli.
      </p>
    </div>
    <picture>
      <source
        srcset="./img/about/about-girl-desk.png"
        media="(min-width: 1440px)"
        width="526"
        height="683"
      />
      <source
        srcset="./img/about/about-girl-mob.png"
        width="345"
        height="380"
      />
      <img
        class="about-img"
        src="./img/about/about-girl-mob.png"
        alt="Girl decorating facade"
        width="345"
        height="380"
        loading="lazy"
      />
    </picture>
  </div>
</section>
