<section class="contacts-section" id="contacts">
  <div class="container contacts-container">
    <h2 class="contacts-title section-title">Contattaci</h2>
    <address class="contacts-address">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <div class="contacts-item-text-wrapper">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-map-pin"></use>
            </svg>
            <p class="contacts-item-text">Indirizzo:</p>
          </div>
          <a class="contacts-item-link" href=""
            >Via degli Artisti 45, Roma, Italia</a
          >
        </li>
        <li class="contacts-list-item">
          <div class="contacts-item-text-wrapper">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-phone"></use>
            </svg>
            <p class="contacts-item-text">Numero di telefono:</p>
          </div>
          <a class="contacts-item-link" href="tel:+390612345678"
            >+39 06 1234 5678</a
          >
        </li>
        <li class="contacts-list-item">
          <div class="contacts-item-text-wrapper">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-mail"></use>
            </svg>
            <p class="contacts-item-text">E-mail:</p>
          </div>
          <a class="contacts-item-link" href="mailto:info@acheckabout.com"
            >info@acheckabout.com</a
          >
        </li>
      </ul>
    </address>
    <picture>
      <source
        srcset="./img/contacts/contacts-map-desk.png"
        media="(min-width: 1440px)"
        width="1296"
        height="428"
      />
      <source
        srcset="./img/contacts/contacts-map-mob.png"
        width="345"
        height="300"
      />
      <img
        class="contacts-img"
        src="./img/contacts/contacts-map-mob.png"
        alt="Map"
        width="345"
        height="300"
        loading="lazy"
      />
    </picture>
  </div>
</section>
