<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="./privacy-policy.html"
            >Informativa sulla privacy</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Termini e Condizioni</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./cookies-policy.html"
            >Politica sui cookie</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-text">
      © 2025 acheckabout.com<span class="footer-span"> –</span
      ><br class="footer-br" />
      Tutti i diritti riservati
    </p>
  </div>
</footer>
