<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">Chi Siamo</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#services"
          >Servizi Offerti</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery"
          >Galleria Lavori</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#process"
          >Fasi del Processo</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#prices"
          >Listino Prezzi Indicativo</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews"
          >Recensioni Clienti</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contacts">Contattaci</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >Informativa sulla privacy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >Termini e Condizioni</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Politica sui cookie</a
        >
      </li>
    </ul>
  </nav>
</div>
