<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#rooms"
          >Physical Rooms</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#missions"
          >Featured Missions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#testimonials"
          >Testimonials</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#prices"
          >Booking & Pricing</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >Informativa sulla privacy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Terms and Conditions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
