<section class="prices-section" id="prices">
  <div class="container prices-container">
    <h2 class="prices-title section-title">Listino Prezzi Indicativo</h2>
    <div class="prices-table">
      <div class="prices-table-title-wrapper">
        <p class="prices-table-title prices-first-column">Servizio</p>
        <p class="prices-table-title">Prezzo a partire da</p>
      </div>
      <div class="prices-table-row-wrapper">
        <p class="prices-table-text prices-first-column">
          Applicazione stucco decorativo
        </p>
        <p class="prices-table-text">€70/m²</p>
      </div>
      <div class="prices-table-row-wrapper">
        <p class="prices-table-text prices-first-column">Mosaico artistico</p>
        <p class="prices-table-text">€150/m²</p>
      </div>
      <div class="prices-table-row-wrapper">
        <p class="prices-table-text prices-first-column">
          Affresco/pittura murale
        </p>
        <p class="prices-table-text">€100/m²</p>
      </div>
      <div class="prices-table-row-wrapper">
        <p class="prices-table-text prices-first-column">
          Restauro facciata storica
        </p>
        <p class="prices-table-text">Da concordare</p>
      </div>
    </div>
    <p class="prices-bottom-text">
      *Nota: I prezzi sono indicativi e soggetti a valutazione personalizzata.
    </p>
  </div>
</section>
