<section class="process-section" id="process">
  <div class="process-section-wrapper">
    <div class="container process-container">
      <h2 class="section-title process-title">
        <span class="process-span-mob">Fasi del Processo</span>
        <span class="process-span-desk">Come Lavoriamo – Passo dopo Passo</span>
      </h2>
      <div class="process-desktop-content-wrapper">
        <div class="process-swiper-container">
          <ul class="swiper-wrapper process-swiper-wrapper">
            <li class="swiper-slide process-slide">
              <div class="process-slide-text-wrapper">
                <p class="process-text">
                  Analizziamo il contesto, le esigenze del cliente e proponiamo
                  soluzioni su misura in armonia con l'edificio.
                </p>
                <h3 class="process-subtitle">Studio e Progettazione</h3>
              </div>
              <div class="process-number-wrapper">1</div>
            </li>
            <li class="swiper-slide process-slide">
              <div class="process-slide-text-wrapper">
                <p class="process-text">
                  Realizziamo uno o più bozzetti grafici per mostrare in
                  anteprima il risultato previsto, con eventuali campioni
                  materiali.
                </p>
                <h3 class="process-subtitle">Presentazione del Bozzetto</h3>
              </div>
              <div class="process-number-wrapper">2</div>
            </li>
            <li class="swiper-slide process-slide">
              <div class="process-slide-text-wrapper">
                <p class="process-text">
                  I nostri artigiani intervengono direttamente in cantiere, con
                  cura e precisione, rispettando i tempi concordati.
                </p>
                <h3 class="process-subtitle">Realizzazione sul Posto</h3>
              </div>
              <div class="process-number-wrapper">3</div>
            </li>
            <li class="swiper-slide process-slide">
              <div class="process-slide-text-wrapper">
                <p class="process-text">
                  Applichiamo trattamenti protettivi, sigillanti o vernici
                  speciali per garantire durabilità e resistenza agli agenti
                  atmosferici.
                </p>
                <h3 class="process-subtitle">Rifiniture e Protezione Finale</h3>
              </div>
              <div class="process-number-wrapper">4</div>
            </li>
          </ul>
        </div>
        <div class="process-img-wrapper">
          <picture>
            <source
              srcset="./img/process/process-timeline-desk.png"
              media="(min-width: 1440px)"
              width="325"
              height="596"
            />
            <source
              srcset="./img/process/process-timeline-mob.png"
              width="1110"
              height="64"
            />
            <img
              class="process-img"
              src="./img/process/process-timeline-mob.png"
              alt="Timeline"
              width="1110"
              height="64"
            />
          </picture>
        </div>
      </div>
      <div class="dots">
        <div class="process-dot active"></div>
        <div class="process-dot"></div>
        <div class="process-dot"></div>
        <div class="process-dot"></div>
      </div>
    </div>
  </div>
</section>
