<section class="reviews-section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Recensioni Clienti</h2>
      <div class="controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon left-arrow-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper">
              <div class="reviews-quote-wrapper">
                <svg class="reviews-quote-icon" width="43" height="30">
                  <use href="./img/sprite.svg#icon-double-quote"></use>
                </svg>
              </div>
              <p class="reviews-text">
                Un lavoro impeccabile! La facciata del nostro edificio è tornata
                a splendere come un tempo. Team professionale e attento ai
                dettagli.
              </p>
              <div class="reviews-star-wrapper">
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>
              <h3 class="reviews-name">Luca, Firenze</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper">
              <div class="reviews-quote-wrapper">
                <svg class="reviews-quote-icon" width="43" height="30">
                  <use href="./img/sprite.svg#icon-double-quote"></use>
                </svg>
              </div>
              <p class="reviews-text">
                Il mosaico personalizzato che hanno realizzato per il nostro
                ingresso è una vera opera d’arte. Complimenti per la creatività
                e la precisione!
              </p>
              <div class="reviews-star-wrapper">
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>
              <h3 class="reviews-name">Chiara, Milano</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper">
              <div class="reviews-quote-wrapper">
                <svg class="reviews-quote-icon" width="43" height="30">
                  <use href="./img/sprite.svg#icon-double-quote"></use>
                </svg>
              </div>
              <p class="reviews-text">
                Avevamo bisogno di un intervento delicato su una facciata
                storica e siamo rimasti molto soddisfatti del risultato.
                Rispetto dei tempi e altissima qualità.
              </p>
              <div class="reviews-star-wrapper">
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>
              <h3 class="reviews-name">Giovanni, Roma</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper">
              <div class="reviews-quote-wrapper">
                <svg class="reviews-quote-icon" width="43" height="30">
                  <use href="./img/sprite.svg#icon-double-quote"></use>
                </svg>
              </div>
              <p class="reviews-text">
                Collaborazione fantastica! Hanno ascoltato le nostre esigenze e
                tradotto tutto in un progetto artistico bellissimo e duraturo.
              </p>
              <div class="reviews-star-wrapper">
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <svg class="reviews-star-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>
              <h3 class="reviews-name">Elena, Napoli</h3>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="reviews-dot active"></div>
        <div class="reviews-dot"></div>
        <div class="reviews-dot"></div>
        <div class="reviews-dot"></div>
      </div>
    </div>
  </div>
</section>
