<section class="testimonials-section" id="testimonials">
  <div class="testimonials-section-wrapper">
    <div class="container testimonials-container">
      <div class="testimonials-title-wrapper">
        <h2 class="testimonials-title section-title">Testimonials</h2>
        <p class="section-subtitle">Field Reports from Former Recruits</p>
      </div>
      <div class="testimonials-swiper-container">
        <ul class="swiper-wrapper testimonials-swiper-wrapper">
          <li class="swiper-slide testimonials-slide">
            <img
              class="testimonials-avatar"
              src="./img/testimonials/testimonials-cassandra.png"
              alt="Avatar"
              width="40"
              height="40"
              loading="lazy"
            />
            <div class="testimonials-slide-wrapper">
              <p class="testimonials-text">
                It felt like starring in a spy movie. The puzzles were intricate
                and rewarding.
              </p>
              <h3 class="testimonials-name">Cassandra L.</h3>
              <p class="testimonials-profession">Corporate Strategist</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="testimonials-dot active"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
        <div class="testimonials-dot"></div>
      </div>
    </div>
  </div>
</section>
